<h1><%= @user.name %></h1>
<ul>
  <li><%= "ADMIN" if @user.admin %></li>
  <li>Mood: <%= @user.mood unless @user.mood.nil? %></li>
  <li>Height: <%= @user.height unless @user.height.nil? %></li>
  <li>Tickets: <%= @user.tickets unless @user.tickets.nil? %></li>

</ul>
